extends templates/layout

block content
  form(method="POST")
    input(name="name", type="text", placeholder="Put your name",required)
    input(name="email", type="email", placeholder="Put your email",required)
    input(name="username", type="text", placeholder="Put your username",required)
    input(name="password", type="password", placeholder="Put your password",required)
    input(name="location", type="text")
    button(type="submit") Join us!