extends templates/layout

block content
  if errorMessage 
    p=errorMessage
  form(method="POST")
    input(name="name", type="text", placeholder="Put your name",required)
    input(name="email", type="email", placeholder="Put your email",required)
    input(name="username", type="text", placeholder="Put your username",required)
    input(name="password", type="password", placeholder="Put your password",required)
    input(name="confirmPassword", type="password", placeholder="Confirm your password",required)
    input(name="location", type="text", placeholder="Put your location")
    button(type="submit") Join us!
  div
    hr
    p Already have an account?
    a(href="/login") Log in rn &rarr;