extends templates/layout

block content
  if errorMessage 
    p=errorMessage
  form(method="POST")
    input(name="username", type="text", placeholder="Username",required)
    input(name="password", type="password", placeholder="Password",required)
    button(type="submit") Login!
    br
    a(href="https://github.com/login/oauth/authorize?client_id=") Continue with Github &rarr;
  div
    hr
    p Don't have an account yet?
    a(href="/join") Join us rn &rarr;