extends templates/layout
include mixins/video

block content
  if errorMessage 
    p=errorMessage
  form(method="GET")
    input(name="keyword", placeholder="Search by title", type="text", required, maxLength=80)
    button(type="submit") Search now
  div
    each video in videos  
      +video(video)
    if videos.length === 0 && keyword !== undefined
      p Sorry, No such video found