extends templates/layout

block content
  if errorMessage 
    p=errorMessage
  form(method="POST")
    input(name="title", placeholder="Title", type="text", required)
    input(name="description", placeholder="Description", type="text", required)
    input(name="hashtags", placeholder="Hashtags, seperated by comma", type="text", required)
    button(type="submit") Upload Video